---
layout: default
categories:
  Agile Development: Agile
---

<div class="home">

  <h1 class="page-heading">Frequently Asked Questions</h1>

  <ul class="post-list">
    {% for category in page.categories %}
      {% assign ct = category[1] %}
      <li>
        <h2>{{ category[0] }}</h2>
        <ul class="faq-question-list">
          {% for question in site.categories[ct] %}
            <li>
              <h3>
                {{ question.title }}
              </h3>
              <span class="post-body">
                {{ question.content }}
              </span>
            </li>
          {% endfor %}
        </ul>
      </li>
    {% endfor %}
  </ul>

</div>
