---
layout: default
categories:
  Agile Development: Agile
  Modular Procurement: Modular Procurement
  Open source: Open Source
---

<div class="home">

  <h1>This site and its content has been moved to <a href="https://modularcontracting.18f.gov">18F's Modular Contracting</a> site.</h1>
  <!--
  <p>Understanding agile, open source, and modular procurement</p>

  <p>18F’s state and local team is working with states to help them improve how they buy and build software in order to improve services to residents.</p>

  <p>18F has had success building software that uses open source code, agile development practices, and modular procurement processes. We believe that modernizing technology acquisitions at all levels of government means deepening how we integrate these practices in all public-sector technology projects. Putting these concepts into practice takes time and education, and over the course of many conversations with state partners on a range of projects, we've encountered some common questions and concerns.</p>

  <p>The resources here can help introduce and explain the core concepts we bring to 18F state and local consulting projects.</p>

  <p>&nbsp;</p> -->

<!--   <ul class="post-list">
    {% for category in page.categories %}
      {% assign ct = category[1] %}
      <li>
        <h2>{{ category[0] }}</h2>
        <ul class="faq-question-list">
          {% for question in site.categories[ct] %}
            <li>
              <h3 onClick="toggleBody(this.parentNode)">
                {{ question.title }}
              </h3>
              <div class="post-body">
                {{ question.content }}
              </div>
            </li>
          {% endfor %}
        </ul>
      </li>
    {% endfor %}
  </ul>

  <script type="text/javascript">
    function toggleBody(node) {
      var target = node.getElementsByTagName('div');
      if(target) {
        target = target[0];
      }

      var style = getComputedStyle(target);

      if(style.height === 0 || style.height.match(/0[ a-zA-Z]?/)) {
        target.style.height = 'auto';
        var endHeight = getComputedStyle(target).height;
        target.style.height = 0;
        setTimeout(function() {
          target.style.height = endHeight;
          target.addEventListener('transitionend', function transitionEnd(event) {
            if(event.propertyName == 'height') {
              target.style.height = 'auto';
              target.removeEventListener('transitionend', transitionEnd, false);
            }
          }, false);
        }, 1);
      } else {
        target.style.height = style.height;
        setTimeout(function() {
          target.style.height = 0;
        }, 1);
      }
    }
  </script> -->

<!-- </div> -->
