.sidenav {
  position: fixed;
  display: block;
  width: 250px;

  .usa-current {
    background: #e7f4e4;
    color: black;

    &:visited {
      color: black;
    }
  }
}

.usa-sidenav-list a {
  color: black;

  &:not(.usa-current):visited {
    color: black;
  }
}
