.page-content {
  position: relative;
  top: 0;
  width: calc(100% - 250px);
  display: inline-block;
  right: 0;
  bottom: 0;
  margin-top: 3rem;
  margin-left: 250px;
  padding: 0 4rem;

  h1.post-title {
    font-weight: bold;
  }
}
